01-Merge and Clean Data

In [2]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
#read in datasets
#http://help.sentiment140.com/for-students/
data_1= pd.read_csv('../Data/trainingandtestdata/training_1600000_processed_noemoticon.csv',names= ['sentiment','date','query','userid','tweet'], encoding='latin-1')

In [15]:

data_1.head()

,sentiment,date,query,userid,tweet
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [49]:
#https://www.kaggle.com/shashank1558/preprocessed-twitter-tweets
data_neg = pd.read_csv('../Data/archive/processedNegative.csv').T.reset_index()
data_neg['sentiment'] = 'negative'
data_neu = pd.read_csv('../Data/archive/processedNeutral.csv').T.reset_index()
data_neu['sentiment'] = 'neutral'
data_pos = pd.read_csv('../Data/archive/processedPositive.csv').T.reset_index()
data_pos['sentiment'] = 'positive'
data_2 = pd.concat([data_neg,pd.concat([data_neu,data_pos])])